<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinyl Addict</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />


    <!--  link to font awesome  -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>

<body>
    <div class="wrapper">
        <header class="hero">
            <div>
                <nav class="nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">Dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>
            </div>

            <h1 class="blog-title">Vinyl Addict</h1>
        </header>

        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}

    <script src="/js/logout.js"></script>

    {{/if}}

</body>

</html>