<section class="card">
  <h3 class="card-header">Login</h3>
  <form class="login-form card-body">
    <div>
      <label for="username-login" class="form-label">Your Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login" class="form-label">Your Password</label>
      <input type="password" id="password-login" />

    </div>



    <div>
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</section>
<section class="card">
  <h3 class="card-header">Sign up</h3>
  <form class="signup-form card-body">
    <div>
      <label for="username-signup" class="form-label">Desired Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div>
      <label for="password-signup" class="form-label">Password (min 3 char)</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="btn">Signup</button>
    </div>
  </form>
</section>
<script src="./js/login.js"></script>